.vscode/
Backups/
Cache/
CachedData/
CachedExtensions/
Code Cache/
Cookies
Cookies-journal
Crash Reports/
GPUCache/
Local Storage/
Network Persistent State
Session Storage/
TransportSecurity
User/
build/
core
exthost Crash Reports/
install/
languagepacks.json
log/
logs/
machineid
rapid_render.json
src/exjobb/exjobb/__pycache__/
src/exjobb/exjobb/out.pcd
src/exjobb/exjobb/pointcloud.pcd
src/exjobb/exjobb/smallpointcloud.pcd
storage.json
*.pcd
src/exjobb/old_code/
old_stuff/

	## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Auxiliary and intermediate files from other packages:
# algorithms
*.alg
*.loa

# fixme
*.lox


*~
*.pdf

## Powerpoint
*~$*

## Libre office
*.~l*
